# Google Setup
GOOGLE_SERVICE_ACCOUNT_FILE=./credentials/google_service_account.json
GOOGLE_SHEETS_SPREADSHEET_ID=your_spreadsheet_id_here

# Money Manager Setup
MM_DB_PATH=./data/your_backup_file.mmbak